First of all we unzip the data zip

In [67]:
import zipfile
zip = zipfile.ZipFile('./data.zip', 'r')
for name in zip.namelist():
    zip.extract(name, './data')

Take the unzipped csv and read into a pandas dataframe

In [68]:
import pandas as pd 
insurance_data = pd.read_csv('./data/train.csv', encoding= 'unicode_escape')
insurance_data.sample(5)

,Row_ID,Household_ID,Vehicle,Calendar_Year,Model_Year,Blind_Make,Blind_Model,Blind_Submodel,Cat1,Cat2,Cat3,Cat4,Cat5,Cat6,Cat7,Cat8,Cat9,Cat10,Cat11,Cat12,OrdCat,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,NVCat,NVVar1,NVVar2,NVVar3,NVVar4,Claim_Amount
21495,6639571,4272308,1,2005,2002,AJ,AJ.76,AJ.76.2,D,A,A,?,?,E,?,A,B,A,B,D,5,2.395429,0.826507,1.814591,1.162057,2.394597,1.915010,1.706488,0.307615,E,-0.23153,-0.266117,-0.272337,-0.251419,8.469502
26665,8874573,5914614,2,2005,2003,X,X.38,X.38.5,C,C,A,C,A,B,?,A,B,A,E,B,5,-0.858737,1.258785,0.241049,1.162057,-0.471927,-0.609225,-1.181101,-0.276548,M,-0.23153,-0.266117,-0.272337,-0.251419,0.000000
22911,1924547,1084639,2,2007,2007,AO,AO.13,AO.13.1,B,C,B,A,A,C,C,B,B,A,?,NaN,2,-0.456988,-1.334886,-0.707705,-1.374998,-0.858491,-0.832639,-0.763322,0.031943,C,-0.23153,-0.266117,5.703317,-0.251419,45.950060
7763,576777,476410,1,2005,1993,BF,BF.42,BF.42.0,B,?,E,A,A,C,C,A,B,B,D,D,2,-0.681967,-1.507798,-0.915968,-1.544135,-0.590869,-0.947271,-0.886198,-1.199174,O,-0.23153,-0.266117,-0.272337,-0.251419,0.000000
9351,5210170,3630174,1,2006,1999,BZ,BZ.9,BZ.9.0,B,A,A,A,A,F,C,B,B,A,A,B,2,-1.156031,-1.161975,-1.378775,-1.205861,-1.476994,-1.590612,-1.082800,-0.905124,M,-0.23153,-0.266117,-0.272337,-0.251419,0.000000

Lets take a look at what this all actually means

In [69]:
from IPython.display import IFrame, HTML

iframe = "<iframe allowtransparency='true' style='background: #FFFFFF;' src='./data/data_dictionary.html' width=1000 height=600></iframe>"
display(HTML(iframe))

# Data Preprocessing

## Separate the data into training, validation and test sets

In [70]:
from sklearn.model_selection import train_test_split

exploration_data, test_data = train_test_split(insurance_data, test_size=0.15, random_state=42)
training_data, val_data = train_test_split(exploration_data, test_size=0.15, random_state=42)

In [71]:
exploration_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25500 entries, 17443 to 23654
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row_ID          25500 non-null  int64
 1   Household_ID    25500 non-null  int64
 2   Vehicle         25500 non-null  int64
 3   Calendar_Year   25500 non-null  int64
 4   Model_Year      25500 non-null  int64
 5   Blind_Make      25500 non-null  object
 6   Blind_Model     25500 non-null  object
 7   Blind_Submodel  25500 non-null  object
 8   Cat1            25500 non-null  object
 9   Cat2            25500 non-null  object
 10  Cat3            25500 non-null  object
 11  Cat4            25500 non-null  object
 12  Cat5            25500 non-null  object
 13  Cat6            25500 non-null  object
 14  Cat7            25500 non-null  object
 15  Cat8            25500 non-null  object
 16  Cat9            25500 non-null  object
 17  Cat10           25500 non-null  object
 18  Cat11           25500 non-null  object
 19  Cat12           25455 non-null  object
 20  OrdCat          25500 non-null  object
 21  Var1            25500 non-null  float64
 22  Var2            25500 non-null  float64
 23  Var3            25500 non-null  float64
 24  Var4            25500 non-null  float64
 25  Var5            25500 non-null  float64
 26  Var6            25500 non-null  float64
 27  Var7            25500 non-null  float64
 28  Var8            25500 non-null  float64
 29  NVCat           25500 non-null  object
 30  NVVar1          25500 non-null  float64
 31  NVVar2          25500 non-null  float64
 32  NVVar3          25500 non-null  float64
 33  NVVar4          25500 non-null  float64
 34  Claim_Amount    25500 non-null  float64
dtypes: float64(13), int64(5), object(17)
memory usage: 7.0+ MB

Change all int64 rows to float64, since the algorithm will expect float64's

In [72]:
int_cols = ['Row_ID', 'Household_ID', 'Vehicle', 'Calendar_Year', 'Model_Year']
for col in int_cols:
    exploration_data[col] = exploration_data[col].astype('float64')

exploration_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25500 entries, 17443 to 23654
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row_ID          25500 non-null  float64
 1   Household_ID    25500 non-null  float64
 2   Vehicle         25500 non-null  float64
 3   Calendar_Year   25500 non-null  float64
 4   Model_Year      25500 non-null  float64
 5   Blind_Make      25500 non-null  object
 6   Blind_Model     25500 non-null  object
 7   Blind_Submodel  25500 non-null  object
 8   Cat1            25500 non-null  object
 9   Cat2            25500 non-null  object
 10  Cat3            25500 non-null  object
 11  Cat4            25500 non-null  object
 12  Cat5            25500 non-null  object
 13  Cat6            25500 non-null  object
 14  Cat7            25500 non-null  object
 15  Cat8            25500 non-null  object
 16  Cat9            25500 non-null  object
 17  Cat10           25500 non-null  object
 18  Cat11           25500 non-null  object
 19  Cat12           25455 non-null  object
 20  OrdCat          25500 non-null  object
 21  Var1            25500 non-null  float64
 22  Var2            25500 non-null  float64
 23  Var3            25500 non-null  float64
 24  Var4            25500 non-null  float64
 25  Var5            25500 non-null  float64
 26  Var6            25500 non-null  float64
 27  Var7            25500 non-null  float64
 28  Var8            25500 non-null  float64
 29  NVCat           25500 non-null  object
 30  NVVar1          25500 non-null  float64
 31  NVVar2          25500 non-null  float64
 32  NVVar3          25500 non-null  float64
 33  NVVar4          25500 non-null  float64
 34  Claim_Amount    25500 non-null  float64
dtypes: float64(18), object(17)
memory usage: 7.0+ MB

## Missing Data Values

In [73]:
print(exploration_data.shape)
pd.set_option('display.max_columns', None)
exploration_data[(exploration_data == '?').any(axis=1) | (exploration_data.isnull().any(axis=1))]

(25500, 35)

,Row_ID,Household_ID,Vehicle,Calendar_Year,Model_Year,Blind_Make,Blind_Model,Blind_Submodel,Cat1,Cat2,Cat3,Cat4,Cat5,Cat6,Cat7,Cat8,Cat9,Cat10,Cat11,Cat12,OrdCat,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,NVCat,NVVar1,NVVar2,NVVar3,NVVar4,Claim_Amount
17443,6233088.0,4131152.0,1.0,2006.0,1997.0,BF,BF.36,BF.36.3,B,?,A,A,A,C,D,A,B,A,A,B,2,-0.641792,-0.954481,-1.054810,-1.002897,-1.149901,-1.249056,-1.217964,-1.302113,M,-0.23153,-0.266117,-0.272337,3.068692,0.00000
2145,6181031.0,4115511.0,1.0,2006.0,2001.0,AN,AN.12,AN.12.0,I,A,A,?,?,C,?,A,B,B,A,D,2,-0.714107,-0.660532,0.125347,-0.715364,-0.828755,-0.108589,0.391714,-0.500367,M,3.19779,-0.266117,-0.272337,3.068692,0.00000
16657,7629841.0,4871388.0,2.0,2005.0,1997.0,K,K.81,K.81.0,D,?,E,?,?,C,?,A,B,A,B,C,4,0.796469,-0.072633,-1.286213,-0.021902,0.467722,-0.282876,0.514590,-0.473128,O,-0.23153,-0.266117,-0.272337,-0.251419,0.00000
26299,4555000.0,2730655.0,2.0,2005.0,2001.0,P,P.33,P.33.0,J,C,B,?,?,B,?,B,A,A,A,B,4,-0.722142,0.567140,-0.129197,0.485509,-0.656288,0.149917,0.367138,1.263169,M,-0.23153,-0.266117,-0.272337,-0.251419,0.00000
25590,2234758.0,1661474.0,2.0,2007.0,2003.0,AH,AH.168,AH.168.1,I,C,B,?,?,E,?,B,A,C,F,F,5,1.447302,1.950431,1.560048,2.176878,1.674992,2.316221,1.595900,1.946333,M,-0.23153,-0.266117,-0.272337,-0.251419,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29802,6032467.0,4067346.0,2.0,2005.0,2004.0,Z,Z.5,Z.5.0,I,C,F,?,?,D,?,B,B,A,E,D,4,1.366952,1.518152,0.935259,1.415762,0.979176,1.407356,1.571325,0.600134,N,-0.23153,-0.266117,-0.272337,-0.251419,0.00000
5390,2058446.0,1230894.0,3.0,2007.0,2000.0,AJ,AJ.123,AJ.123.3,D,C,A,?,?,C,?,A,B,B,E,D,4,1.117868,-0.764278,-0.406881,-0.698450,0.628295,0.014231,0.588315,-0.331791,B,-0.23153,2.783616,2.715490,-0.251419,0.00000
860,1901633.0,1046392.0,2.0,2006.0,2002.0,Y,Y.9,Y.9.0,F,C,A,C,A,C,?,B,B,B,A,B,2,-0.633757,-1.248430,-0.777126,-1.290430,-0.608711,-1.134425,-1.193388,-0.844848,O,6.62711,-0.266117,-0.272337,-0.251419,51.22344
15795,1020501.0,647018.0,1.0,2006.0,2003.0,AJ,AJ.77,AJ.77.2,D,A,A,?,?,E,?,A,B,B,D,B,6,2.395429,2.036887,1.814591,2.007742,2.394597,2.708074,2.038254,0.670255,B,-0.23153,2.783616,-0.272337,-0.251419,0.00000
23654,7574283.0,4853820.0,2.0,2005.0,1993.0,K,K.51,K.51.0,D,?,C,?,?,C,?,A,B,B,?,NaN,2,-0.722142,-1.231139,-1.286213,-1.273516,-0.983381,-1.078278,-0.234955,-1.219740,O,-0.23153,-0.266117,-0.272337,-0.251419,0.00000

Roughly 72% of the data has at least 1 missing value. Lets look at how each column contributes to that:

In [87]:
for column in exploration_data.columns:
    print("{}:".format(column))
    nulls = exploration_data[column].isnull().sum()
    question_marks = (exploration_data[column] == '?').sum()
    total = nulls + question_marks
    percentage = total * 100 / exploration_data.shape[0]
    print("nulls: {:},  '?'s: {:}, total: {:}, Percentage null or '?':{:.3f}%".format(nulls, question_marks, total, percentage))

Row_ID:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Household_ID:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Vehicle:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Calendar_Year:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Model_Year:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Blind_Make:
nulls: 0,  '?'s: 13, total: 13, Percentage null or '?':0.051%
Blind_Model:
nulls: 0,  '?'s: 13, total: 13, Percentage null or '?':0.051%
Blind_Submodel:
nulls: 0,  '?'s: 13, total: 13, Percentage null or '?':0.051%
Cat1:
nulls: 0,  '?'s: 40, total: 40, Percentage null or '?':0.157%
Cat2:
nulls: 0,  '?'s: 9013, total: 9013, Percentage null or '?':35.345%
Cat3:
nulls: 0,  '?'s: 8, total: 8, Percentage null or '?':0.031%
Cat4:
nulls: 0,  '?'s: 11002, total: 11002, Percentage null or '?':43.145%
Cat5:
nulls: 0,  '?'s: 11013, total: 11013, Percentage null or '?':43.188%
Cat6:
nulls: 0,  '?'s: 40, total: 40, Percentage null or '?':0.157%
Cat7:
nulls: 0,  '?'s: 13995, total: 13995, Percentage null or '?':54.882%
Cat8:
nulls: 0,  '?'s: 1, total: 1, Percentage null or '?':0.004%
Cat9:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Cat10:
nulls: 0,  '?'s: 8, total: 8, Percentage null or '?':0.031%
Cat11:
nulls: 0,  '?'s: 50, total: 50, Percentage null or '?':0.196%
Cat12:
nulls: 45,  '?'s: 0, total: 45, Percentage null or '?':0.176%
OrdCat:
nulls: 0,  '?'s: 18, total: 18, Percentage null or '?':0.071%
Var1:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var2:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var3:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var4:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var5:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var6:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var7:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Var8:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
NVCat:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
NVVar1:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
NVVar2:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
NVVar3:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
NVVar4:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%
Claim_Amount:
nulls: 0,  '?'s: 0, total: 0, Percentage null or '?':0.000%